.button {
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-white);
  height: var(--button-height);
  background: none;
  border: var(--border);
  border-radius: var(--border-radius-small);
  transition-duration: var(--transition-duration);
}

.button:hover {
  cursor: pointer;
  color: var(--color-white);
  border-color: var(--color-accent);
  background-color: var(--color-accent);
}

.button--large {
  font-size: 30px;
  padding-inline: 60px;
  height: var(--button-height-large);
}
